@font-face{
    font-family: "comicneue";
    src: url("Comic_Neue/ComicNeue-Regular.ttf");
}
body{
    font-family: "comicneue";
    background-color: lightblue;
    margin: 30em 3ex 30rem 10px;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 30px;
    padding-bottom:1px;
    border-style: dashed;
    border-color: red;
    border-width:3cm;
    border-radius:3px;
}

.flex-item{
    background-color: hotpink;
    padding: 20px;
    width: 100px;
    height:300px;
    color: yellow;
}

ul.flex-container{
    color:aqua;
}

.flex-container{
    display:flex;
    flex-direction: row-reverse;
    flex-flow:row wrap;
    flex-basis: auto;
}

.grid-container{
    display:grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
}

.grid-item{
    grid-column: 2 / span 3;
}

h1 {
    color: #0000FF;
    margin-top: 3px;
    margin-left: 2cm;
    margin-right: 5in;
    margin-bottom:100px;
    padding: 300px 50px 30px 20px;
    display: inline-block;
    display:flex;
}

h3,footer {
    margin:auto;
    display:block;
    position:relative;
}

h1 + nav{
    background-color: #5F0;
}

h2 ~ ul{
    background-color: #F50;
}

p > b{
    color:#0000FF;
}

form p{
    color:rgb(255, 0, 3);
}


nav {
    text-decoration: firebrick underline;
    text-align: center;
    height: 200px;
    width:1000px;
    max-width:1000px;
    min-width: 1px;
    position:sticky;
}

button:hover{
    color: hotpink;
}

select:active{
    color: yellow;
}

@media screen{
    body {
        background-color:rgb(46, 123, 123);
    }
}

#orangebac{
    background-color: orange;
}

*{
    color: yellow;
}

li[class^="l"]{
    color: orange;
}
